.target_vk {
  width: 100px;
  height: 30px;
  margin: 10px;
  padding: 10px;
  position: absolute;
  top: 10px;
  z-index: 1;
  left: calc(50% - 70px);
  border-radius: 10%;
  background-image: url(../imaje/reclame_block/VK.png);
  background-position: center;
  background-size: cover;
  box-shadow: #1600e0 5px 5px 15px;
  transition: all 1s ease;
}

.target_vk:hover {
  opacity: 0.7;
}
